body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .MuiAppBar-root {
    background-color: #333;
}

.light-mode .MuiAppBar-root {
    background-color: #3f51b5;
}

.favorite-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}