body.dark-mode {
    background-color: #131a1d;
    color: #ffffff;
}

body.light-mode {
    background-color: #DDE4E7;
    color: #000000;
}

.dark-mode .MuiAppBar-root {
    background-color: #1f262a;
}

.light-mode .MuiAppBar-root {
    background-color: #87a1b3;
}

.favorite-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}